@import "../../assets/sass/variables";

.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    img {
        border-radius: 100%;
        width: 30%;
    }

    &__name {
        margin: 0;
        color: $primary-color;
        font-size: 18px;
        text-align: right;
        width: 30%;
        line-height: 26px;
    }
}

@media screen and (max-width: 768px) {
    .host {
        img {
            width: 60%;
        }

        &__name {
            width: 100%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .host {
        &__name {
            width: 100%;
        }
    }
}