@import '../../assets/sass/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    img {
        width: 15%;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 55px;

        li {
            .nav_link {
                color: $primary-color;
                text-decoration: none;
                font-weight: 500;
                font-size: 24px;
            }

            .active {
                text-decoration: underline;
            }

        }
    }
}