.slides {
    margin: 20px 0;
    position: relative;
    width: 100%;

    &__controller {
        position: absolute;
        width: 100%;
        top: 40%;
        display: flex;
        justify-content: space-between;

        button {
            background-color: transparent;
            border: none;
            padding: 0 10px;
        }
    }

    &__container {
        img {
            border-radius: 25px;
            height: 414px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__hidden {
        display: none;
    }

    &__counter {
        color: white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        font-size: 18px;
        font-weight: 500;
    }
}