@import '../../assets/sass/variables';

.home_gallery {
    margin: 40px 0;
    background-color: $grey-color;
    border-radius: 25px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 50px;
}

@media screen and (max-width: 768px) {
    .home_gallery {
        grid-template-columns: repeat(1, 1fr);
        background-color: transparent;
        padding: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .home_gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}